
@{
    ViewData["Title"] = "InputFormAjex";
}

<h1>InputForm ajex </h1>

<div>
    <div class="row">

        <div class="cols-sm-6">
            Name   <input type="text" id="name" name="name" />
        </div>
        <div class="cols-sm-6">
            Coures   <input type="text" id="Coures" name="Coures" />
        </div>
        <div class="cols-sm-6">
            Batch    <input type="text" id="Batch" name="Batch" />
        </div>
        <div class="cols-sm-6">
            Roll No    <input type="text" id="RollNo" name="RollNo" />
        </div>
        <div class="cols-sm-6">
            <button onclick="Addstudent();">click me </button>
        </div> 
        <div class="cols-sm-6">
            <button onclick="clicklist();">click List </button>
        </div>
    </div>
</div>
<div style="width: 500px">
    <table id="tblCustomers" cellpadding="0" cellspacing="0" border="1" style="border-collapse:collapse">
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    function Addstudent() {
        debugger;
        var Obj = {
            Name: $('#name').val(),
            Coures: $('#Coures').val(),
            Batch: $('#Batch').val(),
            RollNo: $('#RollNo').val()
        };
        $.ajax({
            url: "/Home/InputFormDeatilsAjex",
            data: { model: Obj },
            type: "POST",
            success: function (result) {
                console.log(result);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function clicklist()
    {
        $.ajax({
            type: "POST",
            url: "/Home/Getlist",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
             /*   console.log(result);*/
                OnSuccess(result);
            },
            failure: function (response) {
                console.log(onsus)
                alert(response.d);
            },
            error: function (response) {
                alert(response.d);
            }
        });
    }



    function OnSuccess(result) {
        console.log("data");
        console.log(result);
        $("#tblCustomers").DataTable(
            {
                bLengthChange: true,
                lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                bFilter: true,
                bSort: true,
                bPaginate: true,
                data: result,
                columns: [{ 'result': 'Id' },
                    { 'result': 'Name' },
                    { 'result': 'Coures' },
                    { 'result': 'RollNo' }]
            });
    };
</script>