
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form action="~/Login/index" method="post">
    <div class="row">
        <div class="col-sm-6">
            UserName: <input type="text" name="Username" placeholder="UserffName">
        </div> 
        <div class="col-sm-6">
            Password: <input type="password" name="Password"  placeholder="Password">
        </div>
        <div class="col-sm-6">
           <button>Login </button>
        </div>
    </div>
</form>