
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<form action="Registration" method="post">
    <div class="row">
        <div class="col-sm-6">
            FirstName: <input type="text" name="FirstName" placeholder="FirstName">
        </div>
        <div class="col-sm-6">
            LastName: <input type="text" name="LastName" placeholder="LastName">
        </div>
        <div class="col-sm-6">
            Email: <input type="text" name="Email" placeholder="Email">
        </div>
        <div class="col-sm-6">
            <button>Registration </button>
        </div>
    </div>
</form>